<div class="container">
  <div class="left-container">
    <app-book-card
      *ngFor="let book of booklist"
      [book]="book"
      (wishlist_book)="addToWishlist($event)"
    ></app-book-card>
  </div>
  <div class="right-container">
    <h3>My WishList ({{ count }})</h3>
    <app-wish-list
      [wishlist]="wishlist"
      (deleted_book)="deleteFrom_Wishlist($event)"
    ></app-wish-list>

    <!-- <div *ngFor="let wishBook of wishlist">
      {{ wishBook }}
      <button (click)="deleteFromWishlist(wishBook)">x</button>
    </div> -->
  </div>
</div>
