<div class="container">
  <div class="left-container">
    <app-book-card
      *ngFor="let book of booklist"
      [book]="book"
      (wishlist_book)="addToWishlist($event)"
    ></app-book-card>
  </div>
  <div class="right-container">
    <!-- <app-wish-list [wishlist]="wishlist"></app-wish-list> -->
    <h3>My WishList ({{ count }})</h3>
    <div *ngFor="let wishBook of wishlist">
      {{ wishBook }}
      <button (click)="deleteFromWishlist(wishBook)">x</button>
    </div>
  </div>
</div>
